<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About Aplication
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-content>
      <strong>App Version:</strong> 1.0.0
    </ion-card-content>
    <ion-card-content>
     <strong>Author:</strong> Dalibor Ďuriš
    </ion-card-content>
    <ion-card-content>
      <strong>Api URL: </strong> <a href="https://spoonacular.com/food-api">https://spoonacular.com/food-api</a>
    </ion-card-content>
  </ion-card>
  </ion-content>
